.header {
  margin-bottom: 37px;
  padding: 40px 0 65px;
  color: $color-default-white;
  background-color: $color-black-pearl;
  background-image: url("../img/bg/bg-header.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/bg/bg-header@2x.jpg");
  }

  @include viewport--md {
    margin-bottom: 25px;
    padding: 25px 0 35px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  margin: 0 10px 50px;

  @include viewport--md {
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.header__logo {
  flex-shrink: 0;
  display: block;

  img {
    width: 78px;
    height: 52px;
  }
}

.header__phone-wrapper {
  flex-shrink: 0;
  margin-left: auto;
  margin-bottom: -25px;
}

.header__phone {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  color: $color-default-white;
  outline: none;
  transition: color $default-transition-settings;

  &:hover,
  &:focus {
    color: $color-seagull;
  }

  &:active {
    color: $color-steel-blue;
  }
}

.header__phone-hint {
  margin: 0;
  margin-top: 3px;
  font-size: 18px;
  line-height: 1.22;
}

.header__result-message {
  margin: 0 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;

  @include viewport--md {
    text-align: right;
  }
}
