.main-nav {
  @include viewport--md {
    order: 2;
    width: 100%;
    margin-top: 20px;
  }
}

.main-nav__overlay {
  display: none;

  @include viewport--sm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-default-black, 0.6);

    .main-nav--opened & {
      display: block;
    }
  }
}

.main-nav__btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  width: 44px;
  height: 44px;
  background-color: $color-transparent;
  outline: none;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: $color-default-white;
    transition:
      transform $default-transition-settings,
      background-color $default-transition-settings,
      box-shadow $default-transition-settings;
  }

  &::before {
    transform: translate(-50%, calc(-50% - 5px));
    box-shadow: 0 5px  $color-default-white;
  }

  &::after {
    transform: translate(-50%, calc(-50% + 5px));
  }

  &:hover::before,
  &:focus::before {
    background-color: $color-seagull;
    box-shadow: 0 5px  $color-seagull;
  }

  &:hover::after,
  &:focus::after {
    background-color: $color-seagull;
  }

  &:active::before {
    background-color: $color-steel-blue;
    box-shadow: 0 5px  $color-steel-blue;
  }

  &:active::after {
    background-color: $color-steel-blue;
  }

  .main-nav--opened & {
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
      box-shadow: 0 0  $color-default-white;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover::before,
    &:focus::before {
      background-color: $color-seagull;
      box-shadow: 0 0 $color-seagull;
    }

    &:active::before {
      background-color: $color-steel-blue;
      box-shadow: 0 0 $color-steel-blue;
    }
  }

  @include viewport--sm {
    display: block;
  }
}

.main-nav__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin: 0 90px;

  @include viewport--md {
    margin: 0 -20px;
  }

  @include viewport--sm {
    display: block;
    visibility: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(-100%);
    width: percentage(5 / 6);
    max-width: 300px;
    margin: 0;
    padding: 0 10px;
    background-color: $color-black-pearl;
    transition:
      visibility 0s ease 0.4s,
      transform $default-transition-settings;

    .main-nav--opened & {
      visibility: visible;
      transform: translateX(0);
      transition:
        visibility 0s ease 0s,
        transform $default-transition-settings;
    }
  }
}

.main-mav__item {
  padding: 0 30px;

  @include viewport--md {
    padding: 0 20px;

    &:first-of-type {
      margin-left: auto;
    }
  }

  @include viewport--sm {
    padding: 10px 0;

    &:first-of-type {
      margin-left: 0;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-default-white;
    }
  }
}

.main-mnav__link {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  line-height: 1.22;
  color: $color-default-white;
  outline: none;
  transition: color $default-transition-settings;

  &:hover,
  &:focus {
    color: $color-seagull;
  }

  &:active {
    color: $color-steel-blue;
  }

  @include viewport--sm {
    width: 100%;
    padding: 10px;
  }
}
