.offer-card {
  width: 380px;
  margin: 10px;
  background-color: $color-white-smoke;
  border-radius: 0 0 10px 10px;
  overflow: hidden;

  @include viewport--md {
    display: flex;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;

    li:nth-of-type(2n) & {
      flex-direction: row-reverse;
    }
  }
}

.offer-card__img {
  position: relative;
  flex-shrink: 0;

  img {
    width: 380px;
    height: 264px;
    object-fit: cover;
  }

  @include viewport--md {
    img {
      width: 300px;
      height: 100%;
    }
  }
}

.offer-card__discount {
  position: absolute;
  top: 34px;
  left: 38px;
  min-width: 80px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $color-default-white;
  background-color: $color-cinnabar;
  border-radius: 10px;
}

.offer-card__like-btn {
  position: absolute;
  top: 34px;
  right: 32px;
  color: rgba($color-default-white, 0.5);
  outline: none;
  transition: color $default-transition-settings;

  &--is-liked {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    color: $color-steel-blue;
  }

  &:active {
    color: $color-seagull;
  }

  svg {
    display: block;
    width: 46px;
    height: 46px;
  }
}

.offer-card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.offer-card__desc {
  padding: 30px;

  @include viewport--md {
    width: fit-content;
    padding: 30px 20px;
  }
}

.offer-card__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
}

.offer-card__properties {
  @include reset-list;
  position: relative;
  display: flex;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.25;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: -2px;
    width: 4px;
    height: 26px;
    background-color: $color-seagull;
  }
}

.offer-card__property {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-left: 20px;
  width: 90px;

  dd {
    margin: 0;
  }

  &--numeric {
    width: 80px;

    dd {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.25;
    }
  }

  @include viewport--md {
    margin-left: 15px;
  }
}

.offer-card__buy-actions {
  @include viewport--md {
    display: flex;
    align-items: center;
    margin-top: auto;

    li:nth-of-type(2n) & {
      flex-direction: row-reverse;
    }
  }
}

.offer-card__price {
  padding: 30px;
  padding-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;

  @include viewport--md {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 20px 10px;
    text-align: center;
  }
}

.offer-card__btn {
  width: 100%;
  padding: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $color-default-white;
  background-color: $color-seagull;
  outline: none;
  transition: background-color $default-transition-settings;

  &:hover,
  &:focus {
    background-color: $color-steel-blue;
  }

  &:active {
    background-color: $color-very-light-grey;
  }

  &:disabled {
    cursor: default;
    background-color: $color-black-pearl;
  }

  @include viewport--md {
    max-width: 50%;
  }
}
